@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic");

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

.grid-container {
  max-width: 1580px;
  display: grid;
}

.top_nav {
  background-color: #313236;
}

.navi-top {
  margin-top: 18px;
  margin-left: 40%;
}

.navi-top li a {
  text-transform: uppercase;
  color: #B9BDCC;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navi-top li {
  display: inline;
}

.navi-top a:hover {
  color: #ffffff;
}

.logos {
  margin-top: 18px;
  margin-left: 20px;
}

.logos a {
  font-family: "Russo One", sans-serif;
  color: #B9BDCC;
  font-size: 18px;
}

.logos a:hover {
  text-decoration: none;
  color: #ffffff;
}

.img-top img {
  position: relative;
  display: inline;
  width: 100%;
  height: 100%;
}

.text-top {
  font-family: "Russo One", sans-serif;
  position: absolute;
  margin: -36% 0 14% 42%;
}

.text-top h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-slogo {
  font-family: "Russo One", sans-serif;
  color: #ffffff;
  font-size: 18px;
}

.contact-top {
  position: absolute;
  margin: -20% 0 0 45%;
}

.contact-top-text {
  width: 30%;
  display: block;
  background: #c5c5b0;
  border-radius: 2px;
  padding: 2px 22px;
  cursor: pointer;
  transition: box-shadow 0.5s ease, color 1s ease;
}

button a {
  color: #313236;
  padding-right: 110px;
  font-size: 15px;
}

button a:hover {
  color: #f6f8f9;
  text-decoration: none;
}

.contact-top-text {
  display: inline-block;
  color: #98a2aa;
  border: solid 2px #f6f8f9;
}

.content-top-text a {
  text-decoration: none;
  text-transform: uppercase;
}

.contact-top-text:hover {
  box-shadow: inset 8em 0 #aaab9b;
  color: #00bfff;
}

.contact-top-text:after {
  text-decoration: none;
  text-transform: uppercase;
}

.title-rabora-list a {
  color: black;
}

.raboti-colum {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(2, 100px);
  height: 4 0px;
  width: 1400px;
  grid-gap: 120px;
  grid-template-areas: "a a d""a a d";
  margin-top: 28px;
}

.partf {
  text-align: center;
}

.partf-img img {
  height: 200px;
  width: 200px;
}

.text-title {
  margin-top: 80px;
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  text-align: center;
}

.title-rabora ul li {
  text-align: center;
  text-decoration: none;
}

.title-rabora-list {
  display: inline;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  text-decoration: none;
}

.info-icons img {
  margin: 20px;
  height: 120px;
  width: 120px;
}

.info-icons {
  text-align: center;
  background-color: #fbfbfb;
}

.otsivi {
  margin-top: 15px;
  border: 1px solid black;
  /* Параметры границы */
  background: #d0d0d0;
  /* Цвет фона */
  padding: 12px;
  /* Поля вокруг текста */
}

.otsivi-img {
  display: block;
  height: 125px;
  width: 125px;
}

.otsivi-img img {
  float: left;
  margin-top: 20px;
  height: 125px;
  width: 125px;
}

.otsivi-text {
  overflow: hidden;
  display: block;
  text-align: justify;
  margin: 0 0 0 160px;
}

.clientsphoto img {
  width: 80px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.clientsphoto img:hover {
  border-radius: 15%;
}

blockquote {
  margin: 0;
  padding: 0 0 10px 0;
  border: none;
}

blockquote p {
  font-style: italic;
  font-size: 14px;
}

.quote {
  overflow: hidden
}

.quote h5 {
  margin-bottom: 5px;
}

.foo {
  margin: 0px;
  max-width: 100%;
  margin-top: 30px;
  background-color: #4e5054;
}

.bottom-grid h2 {
  font-size: 29px;
}

.bottom-grid p {
  font-size: 14px;
}

.about-bottom {
  background-color: #fbfbfb;
}

/* progress-title */
.progress_bar {
  margin-left: 35%;
}

.progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0 0 20px;
}

.progress {
  height: 10px;
  background: #333;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}

.progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 9px;
  background: #fff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -1px;
  z-index: 1;
  transform: rotate(35deg);
}

.progress .progress-value {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  position: absolute;
  top: -30px;
  right: -25px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}
